html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

.row.row--fluid {
	max-width: none;
}

.no-m-t {
	margin-top: 0 !important;
}

.stretch-items {
	display: flex;
	flex-direction: column;
	> div {
		flex: 1 1 auto;
	}
}

.center-vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content {
	background-color: $vapor-lighter-gray;
	overflow: auto;
}