$vapor-primary: #94a9d1;
$vapor-secondary: #f6cfcf;

$vapor-dark-gray: #605f5f;
$vapor-medium-gray: #777;
$vapor-light-gray: #eee;
$vapor-lighter-gray: #f5f5f5;
$vapor-lightest-gray: #fefefe;

$hest: #3E4EB8;
$ko: #2F3BA2;